---
import bgImage from "@/layouts/main-layout/black_twill.webp"; // Import here
import Header from "@/layouts/main-layout/Header.astro";
import "@/styles/global.css";

interface Props {
    title?: string;
}

const { title } = Astro.props;
const baseTitle = "KyButler";
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link
            rel="apple-touch-icon"
            sizes="180x180"
            href="/apple-touch-icon.png"
        />
        <link
            rel="icon"
            type="image/png"
            sizes="32x32"
            href="/favicon-32x32.png"
        />
        <link
            rel="icon"
            type="image/png"
            sizes="16x16"
            href="/favicon-16x16.png"
        />
        <link rel="manifest" href="/site.webmanifest" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name="generator" content={Astro.generator} />
        <title>{title ? `${baseTitle} - ${title}` : baseTitle}</title>

        <style is:global define:vars={{ bgUrl: `url(${bgImage.src})` }}>
            :root {
                --brand-red: #901f22;
                --brand-pink: #f3b9b9;
                --brand-white: #ffffff;
                --brand-gray: #e0e0e0;
                --brand-black: #0a0a0a;

                --twitch-purple: #9146ff;
                --youtube-red: #cd201f;
                --discord-blurple: #5865f2;
                --x-black: #000000;
                --instagram-gradient: linear-gradient(
                    45deg,
                    #f09433 0%,
                    #e6683c 25%,
                    #dc2743 50%,
                    #cc2366 75%,
                    #bc1888 100%
                );
                --tiktok-black: #000000;
            }

            @font-face {
                font-family: "FugazOne";
                src: url("/fonts/FugazOne-Regular.ttf") format("truetype");
                font-weight: normal;
                font-style: normal;
                font-display: swap;
            }

            body {
                min-height: 100vh;
                background-color: var(--brand-black);
                background-image: var(--bgUrl);
                background-repeat: repeat;
                color: var(--brand-white);
            }

            .text-fugaz {
                font-family: "FugazOne", sans-serif;
            }
        </style>
    </head>

    <body>
        <Header />

        <main class="relative z-10">
            <slot />
        </main>
    </body>
</html>
