---
import MainLayout from "@/layouts/main-layout/MainLayout.astro";

return Astro.redirect("/");
---

<MainLayout title="Avatars">
    <h1>Avatars</h1>
    <p>This is the avatars page.</p>
</MainLayout>
