---
import KyButlerSection from "@/components/kybutler-section/KyButlerSection.astro";
import SocialsSection from "@/components/socials-section/SocialsSection.astro";
import MainLayout from "@/layouts/main-layout/MainLayout.astro";
---

<MainLayout title="Home">
	<div class="flex flex-col gap-4 me-10">
		<KyButlerSection />
		<SocialsSection />
	</div>
</MainLayout>
